@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-family: "Poppins"; */

@import url("https://fonts.googleapis.com/css2?family=Playwrite+ID:wght@100..400&display=swap");

/* font-family: "Playwrite ID", cursive; */

* {
  margin: 0;
  padding: 0;
  background-color: #000;
  text-decoration: none;
}

header nav {
  color: #fff;
  height: 7vh;
  padding: 1% 2% 1% 2%;
  background-color: #000;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  /* border: 1px solid #64d5e4; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav h1 {
  font-family: "Playwrite ID", cursive;
  color: #64d5e4;
  font-size: 1.5rem;
  font-style: italic;
  background: none;
  text-shadow: 0 0 5px #64d5e4b6, 0 0 25px #64d5e4b6, 0 0 50px #64d5e4b6,
    0 0 200px #64d5e4b6;
  cursor: pointer;
}

header nav .socials .fa-brands {
  color: #eeeeee54;
  font-size: 1.5em;
  margin-left: 5px;
  cursor: pointer;
  padding: 2px;
  transition: 0.7s ease-in-out;
}

header nav .socials .fa-instagram:hover {
  color: #ee2a7b;
}

header nav .socials .fa-x-twitter:hover {
  color: #ffffff;
}

header nav .socials .fa-square-facebook:hover {
  color: #4267b2;
}

/* NAVBAR ANIMATION */

header nav .links ul li .active {
  color: #fff;
}

header nav .links ul li a {
  color: inherit;
  text-decoration: inherit;
}

header nav .links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  font: 1rem "Poppins";
  text-transform: uppercase;
  color: grey;
}
header nav .links ul li {
  padding: 0 0.5em 0.25em;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}
ul li:hover {
  color: #fff;
}
ul li:before {
  content: "";
  position: absolute;
  inset: calc(100% - 3px) 0 0 0; /* 3px = the thickness */
  background: #64d5e4; /* the color */
  scale: 0 1;
  transition: 0.3s, translate 0s 0.3s;
}
ul:hover li:before {
  scale: 1;
}
ul li:hover:before {
  translate: 0;
  transition: 0.3s;
}
ul:hover li:has(~ li:hover):before {
  translate: 100% 0;
  transition: 0.2s 0.2s, scale 0s 0.4s;
}
ul:hover li:hover ~ li:before {
  translate: -100% 0;
  transition: 0.2s 0.2s, scale 0s 0.4s;
}

/* NAVBAR ANIMATION END */

#home {
  color: #fff;
  background-color: #000;
  height: 89vh;
  /* width: 100vw; */
  /* border: 1px solid aqua; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 50px; */
}

#home .bgimg {
  height: 550px;
}

#home .heading {
  width: 60%;
  font-family: "Poppins";
  font-size: 1rem;
  text-align: center;
}

#home .heading .iam {
  display: none;
  font-family: "Playwrite ID", cursive;
}

#home .heading h1 {
  font-family: "Playwrite ID", cursive;
  font-size: 2.1rem;
}

#home .heading .btn {
  margin-top: 50px;
}

#home .heading .btn .btn-service {
  margin-right: 20px;
  color: #fff;
  font-family: "Poppins";
  padding: 10px;
  border: 1px solid #ffffff27;
  border-radius: 30px;
  transform: background-color 1s linear ease-in-out;
  align-items: center;
  cursor: pointer;
  background-color: #000;
  transition: 0.3s ease-in;
}

#home .heading .btn .btn-service:hover {
  /* background-color: #64d5e4;
  color: #000;
  font-weight: 500; */
  background: #64d5e4;
  color: #050801;
  box-shadow: 0 0 5px #64d5e4, 0 0 25px #64d5e4, 0 0 50px #64d5e4,
    0 0 200px #64d5e4;
  /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); */
}

#home .heading .btn .btn-contact {
  /* margin-right: 20px; */
  color: #000;
  background-color: #64d5e4;
  font-family: "Poppins";
  padding: 10px;
  border: 1px solid #ffffff27;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease-in;
}

#home .heading .btn .btn-contact:hover {
  background-color: #000;
  color: #64d5e4;
  border: 0;
  box-shadow: 0 0 5px #64d5e4, 0 0 25px #64d5e4, 0 0 50px #64d5e4,
    0 0 200px #64d5e4;
}

/* .fa-angles-down {
  position: fixed;
  color: #fff;
  font-size: 2em;
  right: 50%;
  left: 50%;
  bottom: 8%;
  z-index: 1;
  text-shadow: 0 0 5px #64d5e4, 0 0 25px #64d5e4, 0 0 50px #64d5e4,
    0 0 200px #64d5e4;
}

.fa-angles-down:hover {
  color: #64d5e4;
  text-shadow: 0 0 5px #64d5e4, 0 0 25px #64d5e4, 0 0 50px #64d5e4,
    0 0 200px #64d5e4;
} */

/* MOBILE NAVBAR */

.nav {
  position: fixed;
  bottom: 10px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: auto;
  margin-top: 10px;
  background-color: #121212;
  padding: 18px 20px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  justify-content: space-evenly;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: inset 0px 0px 15px 4px rgba(0, 0, 0, 0.75);
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  /* background-color: #fff; */
  background-color: #121212;
}

.nav a {
  color: inherit !important;
  text-decoration: inherit;
  background-color: #121212;
  border-radius: 30px;
}

.nav-text {
  font-size: 20px;
  margin: auto;
  text-align: center;
  font-weight: 500;
  display: none;
  transition: all 0.3s ease;
  background-color: inherit;
}

.material-icons {
  display: inline;
  /* font-size: 32px; */
  background-color: inherit !important;
  transition: color 0.3s;
  border-radius: 30px;
  color: #eee;
}

.material-symbols-outlined {
  font-size: 32px;
}

.nav-item.active {
  flex-grow: 3;
  border-radius: 30px;
  background-color: #000;
  justify-content: flex-start;
  text-decoration: none !important;
}

.nav-item.active > .nav-text {
  display: inline-block;
}

.nav-item.active > .material-icons.home-icon {
  color: #8758fd !important;
}

.material-icons.home-icon ~ .nav-text {
  color: #8758fd !important;
}

.nav-item.active > .material-icons.gallery-icon {
  color: #ff5ccb;
}

.material-icons.gallery-icon ~ .nav-text {
  color: #ff5ccb;
}

.nav-item.active > .material-icons.service-icon {
  color: #e5a023;
}

.material-icons.service-icon ~ .nav-text {
  color: #e5a023;
}

.nav-item.active > .material-icons.about-icon {
  color: #0091a9;
}

.material-icons.about-icon ~ .nav-text {
  color: #0091a9;
}

/* END NAVBAR MOBILE */

/* MEDIA QUERIES DO NOT WRITE ANYTHING BELOW THIS  */

@media only screen and (min-width: 1001px) {
  .nav,
  .nav-item {
    display: none;
  }
}

/* Tablets and smaller desktops (768px and up) */
@media screen and (min-width: 601px) and (max-width: 1000px) {
  .nav,
  .nav-item {
    display: none;
  }
  #home {
    flex-direction: column-reverse;
    width: 100%;
    align-content: center;
  }
  #home .bgimg {
    height: 300px;
  }
  #home .heading {
    margin-top: 100px;
    font-size: 0.8rem;
  }
  #home .heading h1 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  header nav,
  .fa-angles-down {
    display: none;
  }
  #home {
    flex-direction: column-reverse;
    width: 100%;
    align-content: center;
  }
  #home .bgimg {
    height: 300px;
  }
  #home .heading {
    margin-top: 100px;
    font-size: 0.8rem;
  }
  #home .heading h1 {
    font-size: 1.2rem;
  }
}

::-webkit-scrollbar {
  width: 0;
}
