@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#services {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
  border-radius: 20px;
}

.serv {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 90%;
  padding: 20px;
  gap: 40px;
}

#services .srv-card {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 180px;
  padding: 10px;
  text-align: center;
  color: #00000077;
  font-family: "Poppins";
  border-radius: 15px;
  border: 1px dashed rgba(255, 255, 255, 0.164);
  transition: 0.7s ease-in-out;
}

#services .srv-card img {
  background-color: transparent;
  height: 60px;
}

#services .srv-card:nth-child(1):hover {
  border: none;
  color: #eeeeee77;
  background: rgb(37, 39, 42);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 10%,
    rgba(37, 39, 42, 1) 90%
  );
  box-shadow: -3px 0px 31px 10px rgba(24, 24, 24, 0.75);
  cursor: pointer;
}

#services .srv-card:nth-child(2):hover {
  border: none;
  color: #eeeeee77;
  background: rgb(37, 39, 42);
  background: linear-gradient(
    225deg,
    rgba(0, 0, 0, 1) 10%,
    rgba(37, 39, 42, 1) 90%
  );
  /* box-shadow: -3px 0px 31px 10px rgba(24,24,24,0.75); */
  box-shadow: 3px 3px 31px 11px rgba(24, 24, 24, 0.76);
  cursor: pointer;
}

#services .srv-card:nth-child(3):hover {
  border: none;
  color: #eeeeee77;
  background: rgb(37, 39, 42);
  background: linear-gradient(
    125deg,
    rgba(0, 0, 0, 1) 10%,
    rgba(37, 39, 42, 1) 90%
  );
  /* box-shadow: -3px 0px 31px 10px rgba(24,24,24,0.75); */
  box-shadow: -3px -3px 31px 11px rgba(24, 24, 24, 0.76);
  cursor: pointer;
}

#services .srv-card:nth-child(4):hover {
  border: none;
  color: #eeeeee77;
  background: rgb(37, 39, 42);
  background: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 1) 10%,
    rgba(37, 39, 42, 1) 90%
  );
  box-shadow: 3px 0px 31px 10px rgba(24, 24, 24, 0.75);
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .serv {
    flex-direction: column;
  }
}
